.history{
	display: flex;
      justify-content: center;
      align-items: center;
	
}


.all-his{
    
	
    max-width : 1280px;
    /* Nếu ông muốn max-width hoàn tòn thì dùng cái này */
    /* margin-left: calc((100% - 1280px) / 2);
    margin-right: calc((100% - 1280px) / 2); */

    /* Còn cái này là căn lề manual theo ý ông :V */
    margin-left: 125px;
    margin-right: 125px
}


@font-face {
	 font-family: OpenSans;
	 src: url(/fonts/OpenSans-Regular.ttf?ac568e1f1b394b9786bdba436229c846);
}
@font-face {
	 font-family: OpenSans;
	 font-weight: 700;
	 src: url(/fonts/OpenSans-Bold.ttf?11d42620ac71ab231c13032210187b70);
}
.all-his *, .all-his :after, .all-his :before {
	 box-sizing: border-box;
}
.all-his html {
	 -webkit-text-size-adjust: 100%;
	 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	 font-family: sans-serif;
	 line-height: 1.15;
}
.all-his header, .all-his main, .all-his section {
	 display: block;
}

.fixedd-button {
	display: inline-block;
	white-space: nowrap;
	z-index: 9999;
	position: absolute;
    top: 290px;
    left: calc(50% + 190px); /* 10px to the right of the main frame's center */
    transform: translate(-50%, -50%);
    padding: 10px 20px; /* Adjust padding as needed *//* Adjust the distance from the right as needed */
}
.all-his body {
	 background-color: #fff;
	 color: #212529;
	 font-size: 1.5rem;
	 line-height: 1.5;
	 margin: 0;
	 text-align: left;
}
 .all-his [tabindex="-1"]:focus:not(:focus-visible) {
	 outline: 0 !important;
}
 .all-his h4 {
	 margin-bottom: 0.5rem;
	 margin-top: 0;
}
 .all-his ul {
	 margin-bottom: 1rem;
}
 .all-his ul {
	 margin-top: 0;
}
 .all-his a {
	 color: #007bff;
}
 .all-his a:hover {
	 color: #0056b3;
	 text-decoration: underline;
}
 .all-his img {
	 border-style: none;
}
 .all-his img {
	 vertical-align: middle;
}
 .all-his button {
	 border-radius: 0;
}
 .all-his button:focus:not(:focus-visible) {
	 outline: 0;
}
 .all-his button {
	 font-family: inherit;
	 font-size: inherit;
	 line-height: inherit;
	 margin: 0;
}
 .all-his button {
	 overflow: visible;
}
 .all-his button {
	 text-transform: none;
}
 .all-his button {
	 -webkit-appearance: button;
}
 .all-his [type=button]:not(:disabled), .all-his [type=reset]:not(:disabled), .all-his [type=submit]:not(:disabled), .all-his button:not(:disabled) {
	 cursor: pointer;
}
 .all-his button::-moz-focus-inner {
	 border-style: none;
	 padding: 0;
}
 .all-his ::-webkit-file-upload-button {
	 -webkit-appearance: button;
	 font: inherit;
}
 .all-his .container {
	 margin-left: auto;
	 margin-right: auto;
	 padding-left: 15px;
	 padding-right: 15px;
	 width: 100%;
}
 @media (min-width: 576px) {
	 .all-his .container {
		 max-width: 540px;
	}
}
 @media (min-width: 768px) {
	 .all-his .container {
		 max-width: 720px;
	}
}
 @media (min-width: 992px) {
	 .all-his .container {
		 max-width: 960px;
	}
}
 @media (min-width: 1220px) {
	 .all-his .container {
		 max-width: 1200px;
	}
}
 .all-his .row {
	 display: flex;
	 flex-wrap: wrap;
	 margin-left: -15px;
	 margin-right: -15px;
}
 .all-his .col-12, .all-his .col-5, .all-his .col-lg-3, .all-his .col-md-2 {
	 padding-left: 15px;
	 padding-right: 15px;
	 position: relative;
	 width: 100%;
}
 .all-his .col-5 {
	 flex: 0 0 41.66666667%;
	 max-width: 41.66666667%;
}
 .all-his .col-12 {
	 flex: 0 0 100%;
	 max-width: 100%;
}
 @media (min-width: 768px) {
	 .all-his .col-md-2 {
		 flex: 0 0 16.66666667%;
		 max-width: 16.66666667%;
	}
}
 @media (min-width: 992px) {
	 .all-his .col-lg-3 {
		 flex: 0 0 25%;
		 max-width: 25%;
	}
}
 .all-his .clearfix:after {
	 clear: both;
	 content: "";
	 display: block;
}
 .all-his .d-none {
	 display: none !important;
}
 .all-his .d-block {
	 display: block !important;
}
 @media (min-width: 992px) {
	 .all-his .d-lg-block {
		 display: block !important;
	}
}
 .all-his .float-right {
	 float: right !important;
}
 .all-his .text-center {
	 text-align: center !important;
}
 .all-his html {
	 font-size: 100%;
}
 .all-his body {
	 background: rgba(227, 229, 232, .3);
	 color: #111;
	 font-family: OpenSans;
	 font-size: 14px;
	 font-size: 0.875rem;
	 font-weight: 400;
	 line-height: 22px;
	 line-height: 1.375rem;
}
 .all-his a {
	 -webkit-text-decoration-skip: objects;
	 background-color: transparent;
	 color: inherit;
	 text-decoration: none;
}
 .all-his a:hover {
	 color: #10b18e;
	 outline-width: 0;
	 text-decoration: none;
}
 .all-his h4 {
	 font-family: OpenSans, sans-serif;
	 margin: 0;
}
 .all-his .page-title .page-name_wrapper .page-name {
	 font-size: 22px;
	 font-size: 1.375rem;
	 line-height: 30px;
	 line-height: 1.875rem;
}
 .all-his h4 {
	 font-size: 18px;
	 font-size: 1.125rem;
	 line-height: 26px;
	 line-height: 1.625rem;
}
 .all-his .thumb-item-flow .thumb_attr.volume-title {
	 font-size: 13px;
	 font-size: 0.8125rem;
	 line-height: 16px;
	 line-height: 1rem;
}
 .all-his h4 {
	 color: #333;
	 font-weight: 700;
	 margin-bottom: 0.2em;
}
 .all-his .button-to-top {
	 background-color: #000;
	 border-color: #00b591;
	 color: #fff;
}
 .all-his .button-to-top:hover {
	 color: #fff;
}
 .all-his #navbar {
	 background-color: #f6f7f8;
	 height: 46px;
	 left: 0;
	 position: fixed;
	 top: 0;
	 width: 100%;
	 z-index: 9999;
}
 .all-his .text-center {
	 text-align: center;
}
 .all-his .none {
	 display: none;
}
 .all-his .pad-top-10 {
	 padding-top: 10px;
}
 @media only screen and (min-width: 1000px) {
	 .all-his .none-l {
		 display: none;
	}
	 .all-his .inline-l {
		 display: inline;
	}
}
 .all-his #mainpart {
	 max-width: 1280px;
	 padding-bottom: 30px;
	 padding-top: 20px;
	 padding-left: 60px;
	 padding-right: 100x;
	 width: 100%;
}
 @media only screen and (max-width: 999px) {
	 .all-his #mainpart {
		 padding-bottom: 50px;
		 padding-left: 0;
	}
}
 .all-his .user-private-tabs {
	 list-style: none;
	 text-decoration: none;
}
 .all-his .a6-ratio {
	 position: relative;
	 border: 1px solid #8b8b8b;
}
 .all-his .a6-ratio:before {
	 content: "";
	 display: block;
	 padding-top: 143.3333333333%;
	 width: 100%;
}
 .all-his .a6-ratio > .content {
	 bottom: 0;
	 left: 0;
	 position: absolute;
	 right: 0;
	 top: 0;
}
 .all-his .img-in-ratio {
	 background-size: 100% 100%;
}
 .all-his .img-in-ratio {
	 background-position: 50%;
	 background-repeat: no-repeat;
}
 .all-his .private-tabs header .user-name, .all-his .thumb-item-flow .thumb_attr.chapter-title, .all-his .thumb-item-flow .thumb_attr.volume-title {
	 overflow: hidden;
	 text-overflow: ellipsis;
	 white-space: nowrap;
}
 .all-his .private-tabs {
	 background-color: rgba(255, 255, 255, .9);
	 border-color: #e4e5e7 #dadbdd rgba(202, 204, 206, .8);
	 border-radius: 4px;
	 border-style: solid;
	 border-width: 1px;
	 overflow: hidden;
	 top: -30px;
}
 .all-his .private-tabs header {
	 background-color: #f4f5f6;
	 border-bottom: 1px solid #dadbdd;
	 padding: 10px;
}
 .all-his .index-background {
	 background: rgba(199, 203, 209, 0) url(/images/megumi-bg.jpg?6247150065f9f59356a30f92526bdefc) no-repeat 50%;
	 height: 180px;
	 width: 100%;
	 margin-top: -40px;
	 padding-left: 100px;
	 padding-right: 100px;
}
 .all-his .page-top-group {
	 padding-top: 46px;
}
 .all-his .page-title {
	 margin-bottom: 20px;
}
 .all-his .page-title .page-name_wrapper .container {
	 position: relative;
}
 .all-his .page-title .page-name_wrapper .page-name {
	 font-weight: 700;
}
 .all-his .page-title .page-name_wrapper .page-name i {
	 color: #36a189;
	 font-size: 14px;
	 font-size: 0.875rem;
	 margin-right: 10px;
}
 .all-his .thumb-item-flow {
	 margin-bottom: 10px;
	 margin-top: 10px;
}
 .all-his .thumb-item-flow .a6-ratio {
	 overflow: hidden;
	 width: 100%;
}
 .all-his .thumb-item-flow .thumb-wrapper {
	 color: #fff;
	 position: relative;
}
 .all-his .thumb-item-flow .thumb-detail {
	 background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .8) 67%, rgba(0, 0, 0, .8));
	 bottom: 0;
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#cc000000", GradientType=0);
	 left: 0;
	 overflow: hidden;
	 padding: 10px;
	 position: absolute;
	 width: 100%;
}
 .all-his .thumb-item-flow .thumb_attr.chapter-title {
	 font-weight: 700;
}
 .all-his .thumb-item-flow .thumb_attr.volume-title {
	 color: #17deb3;
}
 .all-his .thumb-item-flow .thumb_attr.series-title {
	 font-size: 16px;
	 font-weight: 700;
	 height: 2.625rem;
	 line-height: 20px;
	 line-height: 1.25rem;
	 margin-bottom: 4px;
	 margin-top: 6px;
	 overflow: hidden;
	 text-align: center;
}
 .all-his .private-tabs {
	 z-index: 1;
	 border-color: #aaa;
	 border-style: solid;
	 border-width: 2px 2px 2px 2px;
	 margin-bottom: 20px;
	 position: relative;
	 left: 13px;
}

.button-xoa {
	position: relative;
	padding-top: 10px;
	padding-right: 40px;
	
	transform: translateX(-50%);
}
.button-blu {
	
	background-color: #00b591;
	border-color: #00b591;
	color: #000;
}

.back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
	cursor: pointer;
  }

.all-his .navigator-board-all {
	 margin-top: 70px;
}

 .all-his .test2 {
	/* display: inline;
	 */
	 margin-bottom: 80px;
	 position: relative;
	 width: 1000px;
	 top: -10px;
	
}
 .all-his .private-tabs header .section-name {
	 margin-bottom: 0;
	 font-size: 18px;
	 font-weight: bold;
	 color: #7a7a7a;
}
 .all-his .private-tabs header .user-name {
	 color: rgba(0, 0, 0, .4);
	 display: block;
	 font-size: 20px;
	 font-weight: bold;
	 color: #888;
}
 .all-his .navigator-board-font {
	 font-size: 18px;
	 font-weight: bold;
	 color: #585858;
}
 .all-his .user-private-tabs {
	 margin: 0;
	 padding: 0;
}
 .all-his .user-private-tabs li {
	 border-left: 2px solid transparent;
}
 .all-his .user-private-tabs li i {
	 margin-right: 10px;
}
 .all-his .user-private-tabs li:hover {
	 background-color: #ecf2f9;
}
 .all-his .user-private-tabs li:hover a {
	 color: inherit;
	 opacity: 1;
}
 .all-his .user-private-tabs li a {
	 border-bottom: 1px solid #d4dae2;
	 display: block;
	 opacity: 0.75;
	 padding: 10px;
	 transition: 0.25s;
	 -webkit-transition: 0.25s;
	 -moz-transition: 0.25s;
	 -o-transition: 0.25s;
}
 .all-his .user-private-tabs li.current {
	 border-left-color: #218efa;
	 color: #218efa;
}
 .all-his .user-private-tabs li:last-child a {
	 border-bottom: none;
}
 .all-his .user-private-tabs li.current a {
	 font-weight: 700;
	 opacity: 1;
}
 .all-his button {
	 color: inherit;
	 font-family: inherit;
	 font-size: 100%;
	 font-weight: inherit;
	 line-height: inherit;
	 margin: 0;
	 padding: 0;
}
 .all-his button {
	 text-transform: none;
}
 .all-his button {
	 -webkit-appearance: button;
	 background-color: transparent;
	 background-image: none;
}
 .all-his :-moz-focusring {
	 outline: auto;
}
 .all-his :-moz-ui-invalid {
	 box-shadow: none;
}
 .all-his ::-webkit-inner-spin-button, .all-his ::-webkit-outer-spin-button {
	 height: auto;
}
 .all-his ::-webkit-search-decoration {
	 -webkit-appearance: none;
}
 .all-his ::-webkit-file-upload-button {
	 -webkit-appearance: button;
	 font: inherit;
}
 .all-his h4 {
	 margin: 0;
}
 .all-his ul {
	 list-style: none;
	 margin: 0;
	 padding: 0;
}
 .all-his button {
	 cursor: pointer;
}
 

.button-top-top {
    display: inline;
    white-space: nowrap;
    height: fit-content;
    z-index: 9999;
    bottom: 10px; /* Adjust the top position value as needed */
    right: 0px;
    position: fixed;
    padding: 10px 10px;
    transform: translateX(-50%); /* Center the button horizontally */
}

.backtoTop {
    background-color: #333;
    bottom: 10px;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 20px;
    opacity: .6;
    padding: 4px 10px;
    position: fixed;
    right: 10px;
    z-index: 999
}

@media only screen and (max-width:787px) {
    .backtoTop {
        bottom: 40px
    }
}

.thumb-item-flow.type-convert .volume-title {
    color: #efa451
}

.thumb-item-flow.type-original .volume-title {
    color: #4ebef7
}

.headroom {
    transition: transform .2s linear;
    will-change: transform
}

.headroom--pinned {
    transform: translateY(0)
}

/*!
 * Font Awesome Free 5.8.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
 .fas {
     -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
     display: inline-block;
     font-style: normal;
     font-variant: normal;
     text-rendering: auto;
     line-height: 1
 }
 
 .fa-angle-double-up:before {
     content: "\f102"
 }
 
 .fa-chevron-down:before {
     content: "\f078"
 }
 
 .fa-chevron-left:before {
     content: "\f053"
 }
 
 .fa-circle:before {
     content: "\f111"
 }
 
 .fa-times:before {
     content: "\f00d"
 }
 
 @font-face {
     font-family: "Font Awesome 5 Brands";
     font-style: normal;
     font-weight: normal;
     font-display: auto;
     src: url(../webfonts/fa-brands-400.eot);
     src: url(../webfonts/fa-brands-400.eot?#iefix) format("embedded-opentype"), url(../webfonts/fa-brands-400.woff2) format("woff2"), url(../webfonts/fa-brands-400.woff) format("woff"), url(../webfonts/fa-brands-400.ttf) format("truetype"), url(../webfonts/fa-brands-400.svg#fontawesome) format("svg")
 }
 
 @font-face {
     font-family: "Font Awesome 5 Free";
     font-style: normal;
     font-weight: 400;
     font-display: auto;
     src: url(../webfonts/fa-regular-400.eot);
     src: url(../webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"), url(../webfonts/fa-regular-400.woff2) format("woff2"), url(../webfonts/fa-regular-400.woff) format("woff"), url(../webfonts/fa-regular-400.ttf) format("truetype"), url(../webfonts/fa-regular-400.svg#fontawesome) format("svg")
 }
 
 @font-face {
     font-family: "Font Awesome 5 Free";
     font-style: normal;
     font-weight: 900;
     font-display: auto;
     src: url(../webfonts/fa-solid-900.eot);
     src: url(../webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"), url(../webfonts/fa-solid-900.woff2) format("woff2"), url(../webfonts/fa-solid-900.woff) format("woff"), url(../webfonts/fa-solid-900.ttf) format("truetype"), url(../webfonts/fa-solid-900.svg#fontawesome) format("svg")
 }
 
 .fas {
     font-family: "Font Awesome 5 Free"
 }
 
 .fas {
     font-weight: 900
 }


 /*! tailwindcss v3.3.1 | MIT License | https://tailwindcss.com*/
*,
:after,
:before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box
}

:after,
:before {
    --tw-content: ""
}

html {
    -webkit-text-size-adjust: 100%;
    font-feature-settings: normal;
    font-variation-settings: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4
}

body {
    line-height: inherit;
    margin: 0
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

h4 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}



:disabled {
    cursor: default
}

.all-his img {
    display: block;
}

.all-his img {
    height: auto;
    max-width: 100%
}

::-webkit-datetime-edit-fields-wrapper {
    padding: 0
}

::-webkit-date-and-time-value {
    min-height: 1.5em
}

::-webkit-datetime-edit,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-meridiem-field,
::-webkit-datetime-edit-millisecond-field,
::-webkit-datetime-edit-minute-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-second-field,
::-webkit-datetime-edit-year-field {
    padding-bottom: 0;
    padding-top: 0
}

*,
:after,
:before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

@media (min-width:640px) {
    .container {
        max-width: 640px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 768px
    }
}

@media (min-width:1024px) {
    .container {
        max-width: 1024px
    }
}

@media (min-width:1280px) {
    .container {
        max-width: 1280px
    }
}

.float-right {
    float: right
}

.text-center {
    text-align: center
}

.focus-visible\:outline:focus-visible {
    outline-style: solid
}

.focus-visible\:outline-2:focus-visible {
    outline-width: 2px
}

.focus-visible\:outline-offset-2:focus-visible {
    outline-offset: 2px
}

.focus-visible\:outline-\[\#d43f3a\]:focus-visible {
    outline-color: #d43f3a
}

:is(.dark .dark\:border) {
    border-width: 1px
}

:is(.dark .dark\:\!border-none) {
    border-style: none !important
}

:is(.dark .dark\:border-\[\#1f1f1f\]) {
    --tw-border-opacity: 1;
    border-color: rgb(31 31 31/var(--tw-border-opacity))
}

:is(.dark .dark\:border-\[\#2a2a2a\]) {
    --tw-border-opacity: 1;
    border-color: rgb(42 42 42/var(--tw-border-opacity))
}

:is(.dark .dark\:border-gray-600) {
    --tw-border-opacity: 1;
    border-color: rgb(75 85 99/var(--tw-border-opacity))
}

:is(.dark .dark\:border-gray-700) {
    --tw-border-opacity: 1;
    border-color: rgb(55 65 81/var(--tw-border-opacity))
}

:is(.dark .dark\:\!bg-zinc-800) {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(39 39 42/var(--tw-bg-opacity)) !important
}

:is(.dark .dark\:bg-\[\#0d5980\]\/50) {
    background-color: rgba(13, 89, 128, .5)
}

:is(.dark .dark\:bg-\[\#1f1f1f\]) {
    --tw-bg-opacity: 1;
    background-color: rgb(31 31 31/var(--tw-bg-opacity))
}

:is(.dark .dark\:bg-\[\#2a2a2a\]) {
    --tw-bg-opacity: 1;
    background-color: rgb(42 42 42/var(--tw-bg-opacity))
}

:is(.dark .dark\:bg-\[\#36a189\]\/50) {
    background-color: rgba(54, 161, 137, .5)
}

:is(.dark .dark\:bg-\[\#6678EA\]\/50) {
    background-color: rgba(102, 120, 234, .5)
}

:is(.dark .dark\:bg-\[\#9c662a\]\/50) {
    background-color: rgba(156, 102, 42, .5)
}

:is(.dark .dark\:bg-\[\#CC1E0D\]\/50) {
    background-color: rgba(204, 30, 13, .5)
}

:is(.dark .dark\:bg-\[\#E63950\]\/50) {
    background-color: rgba(230, 57, 80, .5)
}

:is(.dark .dark\:bg-gray-300) {
    --tw-bg-opacity: 1;
    background-color: rgb(209 213 219/var(--tw-bg-opacity))
}

:is(.dark .dark\:bg-gray-700) {
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81/var(--tw-bg-opacity))
}

:is(.dark .dark\:bg-gray-800) {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55/var(--tw-bg-opacity))
}

:is(.dark .dark\:bg-slate-700) {
    --tw-bg-opacity: 1;
    background-color: rgb(51 65 85/var(--tw-bg-opacity))
}

:is(.dark .dark\:bg-white) {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

:is(.dark .dark\:bg-zinc-800) {
    --tw-bg-opacity: 1;
    background-color: rgb(39 39 42/var(--tw-bg-opacity))
}

:is(.dark .dark\:bg-zinc-900) {
    --tw-bg-opacity: 1;
    background-color: rgb(24 24 27/var(--tw-bg-opacity))
}

:is(.dark .dark\:text-\[\#8ac4e0\]) {
    --tw-text-opacity: 1;
    color: rgb(138 196 224/var(--tw-text-opacity))
}

:is(.dark .dark\:text-\[\#939EF0\]) {
    --tw-text-opacity: 1;
    color: rgb(147 158 240/var(--tw-text-opacity))
}

:is(.dark .dark\:text-\[\#FDBF00\]) {
    --tw-text-opacity: 1;
    color: rgb(253 191 0/var(--tw-text-opacity))
}

:is(.dark .dark\:text-\[\#FDCB02\]) {
    --tw-text-opacity: 1;
    color: rgb(253 203 2/var(--tw-text-opacity))
}

:is(.dark .dark\:text-\[\#eaeaea\]) {
    --tw-text-opacity: 1;
    color: rgb(234 234 234/var(--tw-text-opacity))
}

:is(.dark .dark\:text-\[\#ecd8c2\]) {
    --tw-text-opacity: 1;
    color: rgb(236 216 194/var(--tw-text-opacity))
}

:is(.dark .dark\:text-black) {
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity))
}

:is(.dark .dark\:text-gray-300) {
    --tw-text-opacity: 1;
    color: rgb(209 213 219/var(--tw-text-opacity))
}

:is(.dark .dark\:text-gray-600) {
    --tw-text-opacity: 1;
    color: rgb(75 85 99/var(--tw-text-opacity))
}

:is(.dark .dark\:text-white) {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

:is(.dark .dark\:placeholder-gray-400)::-moz-placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(156 163 175/var(--tw-placeholder-opacity))
}

:is(.dark .dark\:placeholder-gray-400)::placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(156 163 175/var(--tw-placeholder-opacity))
}

:is(.dark .dark\:ring-cyan-900) {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(22 78 99/var(--tw-ring-opacity))
}

:is(.dark .dark\:ring-offset-gray-800) {
    --tw-ring-offset-color: #1f2937
}

:is(.dark .dark\:hover\:\!bg-zinc-700:hover) {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(63 63 70/var(--tw-bg-opacity)) !important
}

:is(.dark .dark\:hover\:bg-gray-700:hover) {
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81/var(--tw-bg-opacity))
}

:is(.dark .dark\:focus\:border-blue-500:focus) {
    --tw-border-opacity: 1;
    border-color: rgb(59 130 246/var(--tw-border-opacity))
}

:is(.dark .dark\:focus\:ring-blue-500:focus) {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(59 130 246/var(--tw-ring-opacity))
}

:is(.dark .dark\:focus\:ring-blue-600:focus) {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(37 99 235/var(--tw-ring-opacity))
}

:is(.dark .dark\:focus\:ring-gray-700:focus) {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(55 65 81/var(--tw-ring-opacity))
}

#footer {
    
    background-color: #36a189;
    background-color: #333;
    color: #fff;
    padding: 20px 20px;
}
#footer span {
    color: #fff;
    font-weight: 700;
    margin-right: 20px;
}
#footer span a {
    color: green;
    text-decoration: none;
}
