<!-- Footer -->
<footer class="mt-3 " id="footer">
    <div class="container text-center">
        <div class="row align-items-center">
            <div class="col-md-6 text-start">
                <span>© 2023 - HappiNovel</span>
            </div>
            <div class="col-md-6 text-end">
                <span>Liên hệ: <a href="">contact@slavesteam.vn</a></span>
            </div>
        </div>
    </div>
</footer>