
<form id="form4" style="display: none;">
    <div class="d-flex justify-content-center rounded-2 section-title" style="margin-bottom: 20px;">
        <span><i class="fa-solid fa-book-open"></i>  THÔNG TIN SÁCH</span>
    </div>

    <!-- Tên sách -->
    <input type="hidden" id="bookID" name="bookID">
    <div class="row mb-3 me-3">
        <div class="col-md-2 text-end align-self-md-center">
            <b>Tên sách <span style="color: red;">*</span></b>
        </div>
        <div class="col-md-10">
            <input type="text" class="form-control" placeholder="Tên sách" name="title" required pattern="\S(.*\S)?" title="This field is required">
        </div>
    </div>

    <!-- Tác giả -->
    <div class="row mb-3 me-3">
        <div class="col-md-2 text-end align-self-md-center">
            <b>Tác giả <span style="color: red;">*</span></b>
        </div>
        <div class="col-md-10">
            <input type="text" class="form-control" placeholder="Tên tác giả" name="authorName" required pattern="\S(.*\S)?" title="This field is required">
        </div>
    </div>
    
    <!-- Thể loại -->
    <div class="row mb-3 me-3">
        <div class="col-md-2 text-end">
            <b>Thể loại <span style="color: red;">*</span></b>
        </div>
        <div class="col-md-10">
            <div class="container">
                <div class="row mb-3">
                <% for (let i = 0; i < genres.length; i++) { %>
                    <div class="col-3 mb-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="<%= genres[i].genreID%>" name="genres" value="<%= genres[i].genreID%>">
                            <label class="form-check-label" for="check1"><%= genres[i].genreName%></label>
                        </div>
                    </div>
                <% }%>
                </div>
            </div>
        </div>
    </div>

    <!-- Tình trạng & Chọn ảnh -->
    <div class="row mb-3 me-3">
        <div class="col-md-2 text-end mt-2">
            <b>Tình trạng</b>
        </div>
        <div class="col-md-10">
            <select class="form-select" name="status" required>
                <option value="0">Tạm ngưng</option>
                <option value="1">Đang tiến hành</option>
                <option value="2">Đã hoàn thành </option>
            </select>
        </div>
    </div>

    <div class="row mb-3 me-3">
        <div class="col-md-2 text-end mt-2">
            <b>Ảnh bìa</b>
        </div>
        <div class="col-md-2">
            <input id="tmpBookImg" type="file" accept="image/*" name="bookCover">
        </div>
    </div>

    <!-- Tóm tắt -->
    <div class="row mb-3 me-3">
        <div class="col-md-2 text-end mt-2">
            <b>Tóm tắt <span style="color: red;">*</span></b>
        </div>
        <div class="col-md-10">
            <textarea id="summary4" name="summary">Welcome to HappiNovel!</textarea>
            <script>
                tinymce.init({
                    selector: 'textarea#summary4'
                });
            </script>
        </div>
    </div>

    <!-- Chú thích thêm -->
    <div class="row mb-3 me-3">
        <div class="col-md-2 text-end mt-2">
            <b>Chú thích thêm</b>
        </div>
        <div class="col-md-10">
            <textarea id="note4" name="note">Welcome to HappiNovel!</textarea>
            <script>
                tinymce.init({
                    selector: 'textarea#note4'
                });
            </script>
        </div>
    </div>
    <div class="row mb-3 me-3">
        <div class="col-md-10 float-end">
            <button class="btn btn-danger float-end" value="delete"><b>Xoá sách</b></button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-success" value="update"><b>Cập nhật</b></button>
        </div>
    </div>
</form>

<script>
    const bookList = document.querySelectorAll(".bg-book")
    for (let i = 0; i < bookList.length; i++) {
        const book = bookList[i]
        book.addEventListener('click', async function(e) {
            bookID = book.attributes[2].nodeValue
            try {
                const res = await fetch('/upload/reviewBook', {
                    method: 'post',
                    body: JSON.stringify({bookID}),
                    headers: {'Content-Type': 'application/json'}
                });
                let data = await res.json()
                let bookData = data.book
                let bookGenres = []
                for (let j = 0; j < data.genre.length; j++) {
                    bookGenres.push(String(data.genre[j].genreID))
                }
                form4.querySelector('[name="bookID"]').setAttribute("value", bookData.bookID)
                form4.querySelector('[name="title"]').setAttribute("value", bookData.title)
                form4.querySelector('[name="authorName"]').setAttribute("value", bookData.authorName)
                form4.querySelector('[name="status"]').options.selectedIndex = bookData.status
                let selectedGenres = form4.querySelectorAll('[name="genres"]')
                for (let j = 0; j < selectedGenres.length; j++) {
                    if (bookGenres.includes(selectedGenres[j].attributes[2].value)) {
                        selectedGenres[j].checked = true
                    }
                    else {
                        selectedGenres[j].checked = false
                    }
                }
                tinymce.get('summary4').setContent(bookData.summary);
                tinymce.get('note4').setContent(bookData.note);
                showContent("form4")
            }
            catch (err) {
                console.log(err)
            }
        })
    }
</script>

<script>
    form4 = document.querySelector("#form4")
    form4.addEventListener('submit', async function(e) {
        e.preventDefault()
        var clickedButtonValue = event.submitter.getAttribute('value');
        if (clickedButtonValue == 'update') {
            const bookID = form4.bookID.value
            const title = form4.title.value
            const authorName = form4.authorName.value
            const genres = []
            for (let i = 0; i < form4.genres.length; i++) {
                if (form4.genres[i].checked == true) {
                    genres.push(form4.genres[i].value)
                }
            }
            if (!genres.length) {
                alert("Vui lòng chọn thể loại của sách.");
                return false;
            }

            const status = form4.status.value
            const bookCover = form4.bookCover.files[0] || new Blob([new Uint8Array([])], { type: 'image/jpeg' })
            let imageName = bookCover.name
            if (bookCover.size == 0) imageName = ''

            const summary = tinymce.get('summary4').getContent()
            checked = tinymce.get('summary4').getContent({format: 'text'})
            if(checked.trim() === '') {
                alert("Vui lòng nhập nội dung tóm tắt")
                return false
            }
            const note = tinymce.get('note4').getContent()

            const formData = new FormData()
            formData.append('bookID', bookID)
            formData.append('title', title)
            formData.append('authorName', authorName)
            genres.forEach((value) => {
                formData.append("genres[]", value)
            })
            formData.append('status', status)
            formData.append('bookCover', bookCover, imageName)
            formData.append('summary', summary)
            formData.append('note', note)
            
            try {
            const res = await fetch('/upload/updateBook', {
                method: 'post',
                body: formData,
            });
            const data = await res.json()

            //   console.log(tinymce.get('summary').getContent())
            attachModal("Cập nhật thông tin sách thành công.")
                var modalConfirm = function(){
                    $("#modalbtn1").on("click", function(){
                        location.reload()
                        $("#modal2btn").modal('hide');
                    });
                    
                    $("#modalbtn2").on("click", function(){
                        location.reload()
                        $("#modal2btn").modal('hide');
                    });
                };
                await modalConfirm()
            }
            catch (err) {
                console.log(err);
            } 
        } else if (clickedButtonValue === 'delete') {
            attachModal("Bạn chắc chắn muốn xoá sách này chứ.")
            var modalConfirm = function(){
                $("#modalbtn1").on("click", function(){
                    $("#modal2btn").modal('hide');
                    location.reload()
                });
                
                $("#modalbtn2").on("click", async function(){
                    $("#modal2btn").modal('hide');
                    const bookID = form4.bookID.value
                    try {
                        const res = await fetch('/upload/deleteBook', {
                            method: 'post',
                            body: JSON.stringify({bookID}),
                            headers: {'Content-Type': 'application/json'}
                        });
                        const data = await res.json()

                        //   console.log(tinymce.get('summary').getContent())
                        attachModal("Xoá sách thành công.")
                        var modalConfirm = function(){
                            $("#modalbtn1").on("click", function(){
                                location.reload()
                                $("#modal2btn").modal('hide');
                            });
                            
                            $("#modalbtn2").on("click", function(){
                                location.reload()
                                $("#modal2btn").modal('hide');
                            });
                        };
                        await modalConfirm()
                    }
                    catch (err) {
                        console.log(err);
                    }
                });
            };
            await modalConfirm()
        }
    })
</script>
